---
layout: default
title: Home
---

<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d layout-reverse">

    {% include sidebar.html %}

    <div class="content container">
      Home Page

<a href="example-content">This is page 2.</a><br>

<a href="example">This is page Example.</a><br>
<a href="/example">This is page Example.</a><br>
<a href="example/">This is page Example 2.</a><br>
<a href="/example/">This is page Example 2.</a><br>

<a href="example.html">This is page Example.</a><br>
<a href="/example.html">This is page Example.</a><br>
<a href="example/index.html">This is page Example 2.</a><br>
<a href="/example/index.html">This is page Example 2.</a><br>

<a href="example/index">This is page Example 2.</a><br>
<a href="/example/index">This is page Example 2.</a><br>

<a href="example/index/">This is page Example Error.</a><br>
<a href="/example/index/">This is page Example Error.</a><br>

<a href="example2">This is page Example 3.</a><br>
<a href="example2/">This is page Example 3.</a><br>
    </div>

  </body>
</html>
